$bg: #131415;
//$bg-l: #fff;
$bg-l: #f93822; // lunary; bright red c

$text: #fff;
$text-l: #000;

//$accent: #e4deff;
$accent: #f93822; // lunary; bright red c
//$accent: #ed2939; // fetenational
//$accent: #fe5000; // halloween; orange 021 c
$accent-l: #004dff;

// Seasonal Mix-ins
@mixin lunar {
	padding: 2px;
	border-radius: 4px;
	margin: 0 -2px;
	background: #fd0;
}
@mixin lunar-dark {
	background: #fd0;
	color: #000;
}

@mixin fetenational {
	@media (prefers-color-scheme: "light") {
		background: #fff;
		nav ul {
	      li:first-child { color: #002654; }
	      li:last-child { color: #ed2939; }
		}
	}
}