

# Set internal Farer ACME server
#matt.fa,
#www.matt.fa {
#  encode zstd gzip
#  root * /srv/apps/caddy/sites/matt.fa/public
#  tls acme https://acme.nic.fa/directory
#  handle /.well-known/hosting-provider {
#    respond "https://nic.fa"
#  }
#}
#www.matt.fa {
#  tls acme https://acme.nic.fa/directory
#  redir https://matt.fa{uri} 
#}

beta.maatt.fr {
	import redirs
  root * /srv/apps/caddy/sites/beta.maatt.fr/public
	encode zstd gzip
	file_server {
    precompressed br
  }
}

beta.maatt.eu {
  encode zstd gzip
  redir https://beta.maatt.fr{uri}
}

