(redirs) {
	# Old page URLs
	redir /assets/line_invite.jpg https://line.me/R/ti/p/doamatto 301

  # Legacy pages
  redir /legal/environmental /legal/
  redir /legal/environmental/ /legal/
  redir /privacy /legal/
  redir /privacy/ /legal/
  redir /imprint /legal/
  redir /imprint/ /legal/

  # Old blog redirs
  redir /blog/forgot-my-love-for-art /oldblog/forgot-my-love-for-art
  redir /blog/linkrot /oldblog/linkrot
  redir /blog/lunar-2022 /oldblog/lunar-2022
  redir /blog/my-web-design-process /oldblog/my-web-design-process
  redir /blog/simpledash /oldblog/simpledash
  redir /blog/srhs-graduation-22 /oldblog/srhs-graduation-22
  redir /blog/static-spotify-widgets /oldblog/static-spotify-widgets

  # 404 redirects
  handle_errors {
    rewrite * /404.html
    encode zstd gzip
    file_server {
      precompressed br
    }
  }
  # .well-known/
  handle .well-known/hosting-provider {
    respond "https://1984.is"
  }

	# Caching
	header Cache-Control "max-age=3600"
	header /static/* Cache-Control "max-age=31536000"

	# General headers
	header Permissions-Policy "interest-cohort=(),browsing-topics=(),join-ad-interest-group=(),run-ad-auction=()"
	header X-Content-Type-Options "nosniff"
	header X-Frame-Options "DENY"
	header Referrer-Policy "no-referrer"
	header Strict-Transport-Security "max-age=31536000;includeSubDomains;preload"
	header Vary "Origin,Accept-Encoding"
  header Cross-Origin-Opener-Policy "same-origin"
  header Cross-Origin-Embedder-Policy "require-corp"
	header Content-Security-Policy "default-src 'none'; style-src 'self'; img-src 'self' https://fm.doamatto.xyz; form-action 'none';  base-uri 'self'; frame-ancestors 'none'; upgrade-insecure-requests; block-all-mixed-content;"

  header -server
  header -last-modified
}

# Set internal Farer ACME server
#matt.fa,
#www.matt.fa {
#  encode zstd gzip
#  root * /srv/apps/caddy/sites/matt.fa/public
#  tls acme https://acme.nic.fa/directory
#  handle /.well-known/hosting-provider {
#    respond "https://nic.fa"
#  }
#}
#www.matt.fa {
#  tls acme https://acme.nic.fa/directory
#  redir https://matt.fa{uri} 
#}

beta.maatt.fr {
	import redirs
  root * /srv/apps/caddy/sites/beta.maatt.fr/public
	encode zstd gzip
	file_server {
    precompressed br
  }
}

beta.maatt.eu {
  encode zstd gzip
  redir https://beta.maatt.fr{uri}
}

