{{ define "main" }}
<section id="intro">
  {{ if or
      (or 
        (eq time.Now (time "2023-01-22"))
        (eq time.Now (time "2023-02-20"))
      )
      (and 
        (gt time.Now (time "2023-02-20"))
        (lt time.Now (time "2023-01-22"))
      )
  }}
    <h1><a href="https://en.wikipedia.org/wiki/Lunar_New_Year">春節。</a>我叫 Matthew。</h1>
  {{ else }}
    <h1>Salut, je m'appelle Matt.</h1>
  {{ end }}
  <p>
    I'm a software engineer living in San Diego. I'm currently studying in community college to transfer and complete a M.S. in Computer Engineering.
  </p>
</section>

<section id="writing">
  <h2>Writing</h2>
  {{ range first 5 (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    <article>
      <p>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <time datetime="{{ .Date }}">{{ .Date.Format "2 January, 2006" }}</time>
      </p>
    </article>
  {{ end }}
</section>

<section id="contact">
  <h2>Contact</h2>
  <p>
    There are a few ways you can reach out to me; be it for a gig, questions about my past works, or if you just want to chat. I accept and respond to communication in either English or French.
    <ul>
      <li>Email: <a href="mailto:hey@maatt.fr">hey [arobase] maatt.fr</a> (<a href="/key">public key</a>)</li>
      <li>微信: <a href="weixin://dl/chat?doamatto">@doamatto</a>–– I ignore requests for signup verifications.</li>
    </ul>
  </p>
</section>

{{ end }}
