<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
   		<meta name="viewport" content="width=device-width,initial-scale=1.0">
	    <link rel="alternate" type="application/atom+xml" title="Blog" href="/atom.xml">
	    <link rel="alternate" type="application/atom+xml" title="Titbits" href="/z/atom.xml">
	    <link rel="/style.css" rel="stylesheet">
	    <link rel="icon" href="data:,">
	    <link rel="pgpkey authn" href="/pgp.asc">
	    <meta name="author" content="Matt Ronchetto">
	    <meta name="theme-color" content="#909EFF">
	    <title>$title$ — Matt Ronchetto</title>
	    $if(description)$
	    <meta name="description" content="$description$">
	    $endif$
	    $if(date)$
      	<meta property="article:published_time" content="$date$">
      	$endif$
      	$if(updated)$
    	<meta http-equiv="last-modified" content="$updated$">
    	$endif$
    </head>
    <body>
    	<a href="#content" id="top">Skip to content</a>
    	<header>
    		<nav>
    			<ul>
    				<li>
			            <a href="/" id="home" title="Link to homepage" aria-label="Link to homepage">
			              <svg viewBox="0 0 50 50" width="40" height="40" fill="none" role="img" aria-labelledby="home"><path xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M26.185 14.1909C25.2848 12.603 23.6344 12.603 22.7342 14.1909L12.007 34.0388C11.9218 35.6032 12.6071 36.5 14.4825 36.5H34.4367C36.6121 36.5 37.0892 35.4582 36.9872 34.0388L26.185 14.1909ZM24.4596 15.7787L14.4825 34.0388H34.4367L24.4596 15.7787Z" fill="#000"/></svg>
			            </a>
			        </li>
			        <li><a href="/about/">About</a></li>
			        <li><a href="/blog/">Blog</a></li>
			        <li><a href="/work/">Works</a></li>
			    </ul>
			</nav>
			<section>
				<h1>$title$</h1>
				$partial("templates/layout/header.html")$
			</section>
		</header>
		<main id="content"></main>
		$partial("templates/layout/footer.html")$

    </body>
</html>
