{% extends "base.html" %}

{% block head %}
  {% set title = section.title %}
  {% set description = section.description %}
{% endblock head %}

{% block content %}
  {{section.content | safe}}

  <div class="grid">
    {% for pic in section.assets -%}
    <a href="{{ get_url(path=pic) }}" rel="noopener" target="_blank">
      <picture>
        {% set thumbWebp = resize_image(path=pic, height=200, op="fit_height", format="webp") %}
        {% set thumbJpeg = resize_image(path=pic, height=200, op="fit_height", format="jpg") %}
        <source srcset="{{ thumbWebp.url }}" type="image/webp" />
        <img src="{{ thumbJpeg.url }}" loading="lazy" />
      </picture>
    </a>
    {% endfor %}
  </div>
  <style>main,footer{max-width: 90%;}</style>
{% endblock content %}
